# Fichiers spécifiques à l'IDE
.idea/
*.iml

# Fichiers de compilation
*.class
*.apk
*.dex
*.jar
*.aar
*.war

# Dossiers générés par Gradle
/build/
*/build/

# Fichiers de cache
.gradle/
local.properties

# Journaux et fichiers temporaires
*.log
*.tmp
*.lock

# Clés ou fichiers sensibles
*.keystore
# Pour protéger vos clés API ou informations sensibles
app/src/main/res/values/secrets.xml
.env

# Dossiers générés par l'OS
.DS_Store
Thumbs.db
